---
apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_deployment_name }}-secrets
type: Opaque
data:
  mysql_username: {{ mysql_user | b64encode }}
  mysql_password: {{ mysql_password | b64encode }}